
<ion-content color="dark">
    <p></p>
  <ion-list  color="dark"lines="none">
      

    <ion-item  color="dark" *ngFor="let item of listNew">
      <ion-card  color="dark">
        <ion-card-header>
            <ion-row>

                
                <ion-col size="9" size-lg >
                  <ion-text>
                    <p> {{item.author}} </p>
                    
                  </ion-text>
                </ion-col>
                <ion-col size="0" size-lg >
                      <ion-icon  style="width: 30px; height: 30px;" name="more" color="primary"></ion-icon>
                  </ion-col>
              </ion-row>

          <!-- <ion-icon size="small" name="more" color="primary"></ion-icon>
          <ion-card-subtitle>{{item.author}}</ion-card-subtitle> -->
          <ion-card-title>{{item.title}}</ion-card-title>
          <img [src]="item.urlToImage" alt="img" />
        </ion-card-header>
        <ion-card-content>
          <p>{{item.content}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
