<ion-header color="dark" translucent>
    <ion-toolbar color="dark">
        <ion-title>Mis Noticias</ion-title>
      </ion-toolbar>
  </ion-header>

<ion-content color="dark" fullscreen>
    


    <ion-item color="dark" *ngFor="let item of listNew">
      <ion-card color="dark">
        <ion-card-header color="dark">
          <ion-row color="dark">


            <ion-col color="dark" size="9" >
              <ion-text >
                <p > {{item.author}} </p>

              </ion-text>
            </ion-col>
            <ion-col color="dark" size="0" >
              
            <ion-button  (click)="presentActionSheet(item)" color="dark" > <ion-icon style="width: 30px; height: 30px;" name="more" color="primary"></ion-icon></ion-button>

            </ion-col>
          </ion-row>
          <ion-card-title color="dark"> {{item.title}}</ion-card-title>
          <img [src]="item.urlToImage" alt="img" />
        </ion-card-header>
        <ion-card-content (click)="openLink(item.url)">
          <p>{{item.content}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>

</ion-content>